numpy==1.26.4
datasets==3.2.0
loguru==0.7.2
matplotlib==3.5.3
nevergrad==1.0.8
nltk==3.5
openai==1.61.0
pandas==1.5.1
peft==0.14.0
requests==2.32.3
safetensors==0.5.2
scikit_learn==1.6.1
scipy==1.13.0 
torch==2.5.1+cu118
transformers==4.48.2
vllm==0.7.1
tomli==2.0.1
